body {
	background-color: green;
	background-position: right middle;
}


.container {
	background-color: green;
	align: center;
	margin: auto;
}




/* Het menu */

h2 {
	font-family: arial;
	font-size: 50px
	line-height: 1.0em;
}



.video {
	

}


.menu {
	font: bold; 
	color: black;
	padding: 1px 1px 1px 1px;
	font-weight: 100;
	font-size: 30px;
	font-family: Courier;
	margin-bottom: 0px;
	border-style: solid;
	border-color: #003200;
	background-color: #003200;
}

.wsup {
	float: right;
}

.wsup2 {
	background-color: green;
}


.info {
	font-size: 20px;
	border: 3px solid;
	border-color:  yellow;
	border-width: 20px;
	background-color: yellow;
}




a {

	color: black;
	text-decoration: none;
	border-style: outset;
	border-color: black;
	line-height: 40px;
	background-color: #006400;
}

a:hover {
	color: #32CD32;
}

a:active {
	border-style: inset;
	background-color: black;

}


























